.register {
    height: 750px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head {
    font-size: 3em;
    margin-bottom: 10px;
}

.register-input {
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.input {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.3em;
}

.btns {
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 5px 10px;
    font-size: 1.4em;
    border-radius: 5px;
}

.btn:hover {
    background-color: black;
    color: white;
}