.login {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.head {
    font-size: 3em;
}

.login {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.login-input {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.login-register {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 500px;
    justify-content: space-around;
    align-items: center;
}

.btn-login {
    background-color: white;
    border: 2px solid black;
    color: black;
    padding: 5px 10px;
    font-size: 1.4em;
    border-radius: 5px;
}

.btn-login:hover {
    background-color: black;
    color: white;
}