.login {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.head {
    font-size: 3em;
    font-weight: bold;
}

.login {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.login-input {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

::placeholder {
    color: var(--color2);
}

.input {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1.3em;
    outline: none;
    background-color: var(--color1);
    border: 2px solid var(--color2);
    color: var(--color2);
    border-radius: 10px;
}

.login-btns {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: space-around;
    align-items: center;
}

.btn-login {
    background-color: var(--color1);
    border: 2px solid var(--color2);
    color: var(--color2);
    padding: 5px 8px;
    font-size: 1.3em;
    border-radius: 12px;
    outline: none;
}

.btn-login:hover {
    background-color: var(--color2);
    color: var(--color1);
}