@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

* {
  font-family: 'Recursive', sans-serif;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #857f77;
  /* background: radial-gradient(circle, rgba(200,194,170,1) 0%, rgba(199,181,143,1) 100%); */
  color: #383631;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
