@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Recursive', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(111,163,224);
  background: radial-gradient(circle, rgba(111,163,224,1) 0%, rgba(97,120,219,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
