@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

* {
  font-family: 'Recursive', sans-serif;
}

:root {
  --color1: #dbd0b8;
  --color2: #24221f;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color1);
  background: radial-gradient(circle, var(--color1) 40%, rgb(216, 200, 176) 81%);
  color: var(--color2);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
