.container{
    text-align: center;
}
.heading{
    height: 123.2px;
    background-color: #4CAF50;
    color: #ffffff;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.heading label{
    margin: 10px;
    font-size: 46px;
}

.register{
  margin:auto;
  width:100%;
}

.content{
    text-align: center;
    width:85%;
    height:auto;
    margin: 12px;
    border-radius: 30px;
    border:solid;
    border-width: 1px;
    border-color: #cccccc;
    padding:15px;
    font-size: 20px;
}

.btn{
    background-color: #4CAF50;
    color: white;
    transition-duration: 0.4s;
}

.btn:hover{
    background-color: #4CDF50;
    color: black;
}